.about-img-wrapper {
    height: 300px;
    overflow: hidden;
    border-radius: 2px;
}

.about-img-wrapper img {
    object-position: center;
}

.about-text-box {
    background: #fff;
    padding: 30px;
    border: 1px solid #eee;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.intro-text {
    font-style: italic;
    color: #555;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.quote-text {
    font-size: 0.9rem;
    color: #333;
    line-height: 1.6;
    text-align: right;
    font-style: italic;
}

@media (max-width: 768px) {
    .about-img-wrapper {
        height: 200px;
    }
}
