body { 
    font-family: Arial; 
    margin:0 }
.topbar { 
    background:#4b96c7; 
    color:white; 
    padding:15px; 
    display:flex; 
    justify-content:space-between }
.menu { 
    padding:10px }
.menu a { 
    margin-right:10px; 
    padding:8px 14px; 
    border:1px solid #ccc;
     text-decoration:none }
.menu .active { 
    background:#4b96c7; 
    color:white }

table { 
    width:100%; 
    border-collapse:collapse; 
    margin-top:20px }
th,td { 
    border:1px solid #ccc; 
    padding:10px }
tr:hover { 
    background:#f2f2f2; 
    cursor:pointer }

.actions a { 
    padding:10px 20px; 
    margin:10px; 
    color:white; 
    text-decoration:none }
.accept { 
    background:green }
.refuse { 
    background:red }
